<aside id="sidebar">
  <div class="box">
    <!-- category box -->
    <h2><%= t "view.aside.bookshelf" %></h2>
    <div class="holder">
      <div class="frame-box">
        <!-- accordion -->
        <ul class="accordion">
          <li>
            <a href="#" class="opener"><span><%= t "view.aside.science" %></span></a>
            <div class="slide">
              <ul>
                <li><a href="catalog.html"><%= t "view.aside.new_category" %></a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="opener"><span><%= t "view.aside.romance" %></span></a>
            <div class="slide">
              <ul>
                <li><a href="catalog.html"><%= t "view.aside.new_category" %></a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="opener"><span><%= t "view.aside.history" %></span></a>
            <div class="slide">
              <ul>
                <li><a href="catalog.html"><%= t "view.aside.new_category" %></a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="opener"><span><%= t "view.aside.social" %></span></a>
            <div class="slide">
              <ul>
                <li><a href="catalog.html"><%= t "view.aside.new_category" %></a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="opener"><span><%= t "view.aside.natural" %></span></a>
            <div class="slide">
              <ul>
              <li><a href="catalog.html"><%= t "view.aside.new_category" %></a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="opener"><span><%= t "view.aside.other" %></span></a>
            <div class="slide">
              <ul>
              <li><a href="catalog.html"><%= t "view.aside.new_category" %></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- banner -->

  <div class="box">
    <h2><%= t "search_form" %></h2>
    <div class="holder">
      <div class="frame-box">
        <%= form_tag books_path, class:"form-search-detail", method: :get do %>
        <label><%= t "key_word" %></label>
          <%= text_field_tag :input_search, params[:input_search],
           class: " form-control" %>
           <label class="label-form"><%= t "find_by" %></label>
          <%= select_tag :find_by, options_for_select([[t("view.search.title")],
            [t("view.search.author")], [t("view.search.rating")]]),
            class: " form-control select-form" %>
          <%= submit_tag t("search"), name: nil, class: "btn form-control seach-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</aside>
