<!-- footer -->
<footer id="footer">
  <div class="footer-holder">
    <div class="footer-frame">
      <div class="block-holder">
        <div class="block">
          <h4><%= t "view.footer.new_feed" %></h4>
          <div class="box">
            <p><a href="#"></p>
            <time><%= t "view.footer.time_post" %></time>
          </div>
        </div>
        <div class="block">
          <h4><%= t "view.footer.new" %></h4>
          <h5><%= t "view.footer.information" %></h5>
          <ul>
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
          </ul>
        </div>
        <div class="block">
          <h4><%= t "view.footer.link" %></h4>
          <ul class="deco">
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
            <li><a href="#"> </a></li>
          </ul>
        </div>
        <div class="block">
          <h4><%= t "view.footer.contact" %></h4>
          <span class="phone"> </span>
          <address> </address>
          <span class="info"> </em></span>
          <span class="info"> <a href="#"> </a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-subholder">
    <div class="footer-content">
      <!-- footer-menu -->
      <ul class="footer-menu">
        <li><a href="#"> </a></li>
      </ul>
      <p><%= t "view.footer.copyright" %></p>
    </div>
  </div>
</footer>
