<tr>
  <td class= "index-td">
    <%= count_index index.to_i %>
  </td>
  <td class="name-table"><%= book.title %></td>
  <td class="name-table"><%= book.category_name %></td>
  <td class="name-table"><%= limit_show book.introduction %></td>
  <td class="name-table"><%= book.author %></td>
  <td class="short-td">
    <%= l book.publish_date, format: :long   %></td>
  <td class="short-td"><%= book.page_number %></td>
  <td class="image-td">
    <%= image_tag book.picture,
      size: Settings.size_picture_book if book.picture.present? %>
  </td>
  <td class= "option-td" >
    <button type="button" class="glyphicon glyphicon-pencil"
      data-toggle="modal" data-target="#<%= book.id %>">
    </button>
    <div id="<%= book.id %>" class="modal fade" role="dialog">
      <% @book = book %>
      <% @button_name = :title_update %>
      <% @title_form = :title_update  %>
      <%= render "form" %>
    </div>

    <%= link_to "" , admin_book_path(book), method: :delete,
      data: {confirm: t("view.admin.confirm_delete")},
      class: "glyphicon glyphicon-remove"%>
  </td>
</tr>
