<% provide :title, t("view.user.profile") %>
<div id="main">
  <div class="main-holder">
    <div class="main-frame">
      <div class="panel-holder">
        <div class="panel">
          <ul class="breadcrumbs">
          </ul>
        </div>
      </div>
      <div id="content-profile">
        <!-- content -->
        <div class="content-profile">
          <div class="box">
            <h2 class= "title-box-content"><%= t "view.user.favorite" %></h2>
            <div class="holder">
              <div class="frame-box">
                <div class="container">
                  <!-- description -->
                  <div class="descript-profile">
                    <div class="content-all-request">
                      <% if check_user_favorite(params[:user_id]).present? %>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>
                                <%= t "view.request.title_book" %>
                              </th>
                              <th>
                                <%= t "view.request.category" %>
                              </th>
                              <th>
                                <%= t "view.request.author" %>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @favorites.each do |favorite| %>
                              <% if favorite.user_id == @user.id  %>
                                <tr>
                                  <td>
                                    <%= link_to favorite.book.title,
                                      book_path(favorite.book),
                                      class: "book-title" %>
                                  </td>
                                  <td><%= favorite.book.category_name %></td>
                                  <td><%= favorite.book.author %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      <% else %>
                        <%= t "view.user.no_favorite"%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if logged_in? %>
          <%= render "users/profile_menu" %>
        <% else %>
          <%= render "static_pages/aside" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
