<% provide :title, t("view.user.profile") %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
     <h1>
       <% if @user.avatar? %>
         <%= image_tag @user.avatar.url, class: "gravatar", size: Settings.size_avatar %>
         <%= @user.name %>
     </h1>
      <% else %>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% end %>
    </section>
  </aside>
</div>
