<% @user ||= current_user %>
<div class="stats">
  <%= link_to user_following_index_path(@user), class: "following-user" do %>
     <strong id="following" class="stat">
      <%= @user.following.size %>
    </strong>
    <%= t "view.user.following" %>
  <% end %>
  <%= link_to user_followers_path(@user), class: "follower-user" do %>
    <strong id="followers" class="stat">
      <%= @user.followers.size %>
    </strong>
    <%= t "view.user.followers" %>
  <% end %>
</div>
