<div id="main">
  <div class="main-holder">
    <div class="main-frame">
      <div class="panel-holder">
        <div class="panel">
          <ul class="breadcrumbs">
            <li><a href="#"><%= t "view.book.home" %></a></li>
            <li><a href="#"><%= t "view.book.all_book" %></a></li>
            <li><%= t "view.book.title" %></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="content">
          <div class="box">
              <h2><%= t "view.user.all_book"%></h2>
              <div class="holder">
                <div class="frame-box">
                  <div class="blocks-holder">
                  <% if @books.present? %>
                    <%= render partial: "load_book", collection: @books, as: :book %>
                  <% else %>
                    <div class= "search-alert">
                      <p><%= t "search_alert" %><h3><%= params[:search] %></h3></p>
                    </div>
                  <% end%>
                  </div>
                </div>
                <%= will_paginate @books %>
              </div>
            </div>
          <%= render "static_pages/featured" %>
        </div>
        <%= render "static_pages/aside" %>
      </div>
    </div>
  </div>
</div>
