<%= provide :title, t("view.book.detail") %>
<div id="main">
  <div class="main-holder">
    <div class="main-frame">
      <div class="panel-holder">
        <div class="panel">
          <ul class="breadcrumbs">
            <li><a href="index-2.html"><%= t "view.book.home" %></a></li>
            <li><a href="index-2.html"><%= t "view.book.all_book" %></a></li>
            <li><%= t "view.book.title" %></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="content">
          <div class="box">
            <h2><%= t "view.book.detail" %> </h2>
            <span class="top-new big-top"></span>
            <div class="holder">
              <div class="frame-box">
                <div class="container">
                  <div class="carousel">
                    <div id="gallery">
                      <div id="panel">
                        <%= image_tag @book.picture, id: "large-image" %>
                      </div>
                    </div>
                  </div>
                  <div class="description-box">
                    <h3><%= @book.title %></h3>
                    <div class="info-panel">
                      <ul class="rating-display">
                        <li>
                          <%= t "view.book.sum_rating" %>
                          <% if @book.avg_rate? %>
                            <%= display_rate @book.avg_rate %>
                          <% else %>
                            <%= image_tag "no_star.png", class: "no-star-detail" %>
                          <% end %>
                        </li>
                      </ul>
                      <ul class="reviews">
                        <li>
                          <%= t "view.book.count_review" %>
                          <%= @book.reviews.size %>
                        </li>
                      </ul>
                    </div>
                    <div class="info-panel">
                      <ul class="list-group">
                      <li><%= t "view.book.author" %>
                        <%= @book.author %></li>
                      <li><%= t "view.book.publish_date" %>
                        <%= l @book.publish_date, format: Settings.date %></li>
                    </div>
                    <div class="info-panel">
                      <span class="like"></span>
                      <form class="form" action="#">
                        <fieldset>
                          <button class="more sub-more wishlist">
                          <%= t "view.book.button_like" %></button>
                          <a href="#" class="more add-more "><span>
                            <%= t "view.book.add_bookmark" %></span></a>
                        </fieldset>
                      </form>
                    </div>
                    <div class="text-holder">
                      <p><%= t "view.book.introduction" %> </p>
                      <ul>
                        <li class="colored"><%= @book.introduction %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="blocks-holder subblocks">
                  <!-- tabs -->
                  <div class="tabs-area">
                    <ul class="tabset">
                      <li><a href="#tab-1" class="tab">
                        <%= t "view.book.introduction" %></a></li>
                      <li>
                        <a href="#tab-2" class="tab  active">
                          <%= t "view.book.review_tab" %>
                          <%= t "view.book.open_bracket" %>
                          <span><%= @book.reviews.size %></span>
                          <%= t "view.book.close_bracket" %>
                        </a>
                      </li>
                    </ul>
                     <!-- content descript -->
                    <div class="tab-content" id="tab-1">
                      <p><%= @book.introduction %></p>
                    </div>
                    <div class="tab-content" id="tab-2">
                      <% flash.each do |message_type, message| %>
                        <div class="alert alert-<%= message_type %>">
                          <%= message %>
                        </div>
                      <% end %>
                      <% if @reviews %>
                        <%= render partial: "load_review", collection: @reviews,
                          as: :review %>
                      <%= will_paginate @reviews %>
                      <% end %>
                      <% if logged_in? %>
                        <!-- reviews-form -->
                        <div class="form-holder">
                          <div class="form-frame">
                            <div class="label-review-form">
                              <%= t "view.review.review_label" %>
                            </div>
                            <%= form_for @review do |f| %>
                              <%= render "shared/error_messages", object: f.object %>
                              <%= f.text_area :content, class: "text-area",
                                required: true %>
                              <%= f.label t("view.review.vote") %>
                              <%= f.select :rate_score, options_for_select(
                                [Settings.one_star, Settings.two_star,
                                Settings.three_star, Settings.four_star,
                                Settings.five_star]), class: "form-control" %>
                              <input type="hidden" name="review[book_id]"
                                value="<%= @book.id %>">
                              <i class= "glyphicon glyphicon-star"></i>
                              <%= f.submit t("view.review.btn_post"),
                                class: "button-review" %>
                            <% end %>
                          </div>
                        </div>
                        <% else %>
                          <div class="arlert-login">
                            <%= t "view.review.alert_login" %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= render "static_pages/featured" %>
        </div>
        <%= render "static_pages/aside" %>
      </div>
    </div>
  </div>
</div>
