<tr>
  <td class= "index-td"><%= request.id %></td>
  <td class="name-table"><%= request.user_name %></td>
  <td class="name-table"><%= request.title %></td>
  <td class="name-table"><%= request.category_name %></td>
  <td class="name-table"><%= display_status request %></td>
  <td class="name-table"><%= request.created_at %></td>
  <td class= "short-td" >
    <button type="button" class="glyphicon glyphicon-ok" data-toggle="modal"
      data-target="#<%= request.id %>"></button>
    <div class="modal fade" id="<%= request.id %>" tabindex="-1" role="dialog"
      aria-labelledby="modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="modal-label">
              <%= t "view.admin.title_check" %></h4>
          </div>
          <div class="modal-body">
            <%= form_for [:admin, request] do |f| %>
              <%= f.label :reject %>
              <%= f.radio_button :status, "reject" %>
              <%= f.label :accept %>
              <%= f.radio_button :status, "accept", checked: true %>
              <%= f.submit t("view.admin.ok"), class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <%= t "view.admin.close" %></button>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "", admin_request_path(request), method: :delete,
      data: {confirm: t("view.admin.confirm_delete")},
      class: "glyphicon glyphicon-remove"%>
  </td>
</tr>
