<div id="main">
  <div class="main-holder">
    <div class="main-frame">
      <div class="panel-holder">
        <div class="panel">
          <ul class="breadcrumbs">
          </ul>
        </div>
      </div>
      <div id="content-profile">
        <div class="content-profile">
          <div class="box">
            <h2><%= t "view.user.profile" %></h2>
            <div class="holder2">
              <div class="frame-box2">
                <div class="row-user-content">
                  <div class="col-content-user">
                    <section class="user_info">
                      <%= image_tag @user.avatar, class: "avatar-user-infor" %>
                      <h1><%= @user.name %></h1>
                      <span><%= link_to t("view.user.view_profile"), @user %>
                      </span>
                      <span><b></span>
                      <%= render "shared/stats" %>
                    </section>
                  </div>
                  <div class="col-content-follow">
                    <h3><%= @title %></h3>
                    <% if @users.any? %>
                      <ul class="users-follow-show">
                        <%= render @users %>
                      </ul>
                      <%= will_paginate @users %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if logged_in? %>
          <%= render "users/profile_menu" %>
        <% else %>
          <%= render "static_pages/aside" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
