
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> <%= t "title_page" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim"%>
  </head>
  <body>
    <%= render "static_pages/menu" %>
    <div class="container">
      <%= yield %>
      <%= render "static_pages/footer" %>
    </div>
  </body>
</html>
